body { padding-top: 40px }

#top-section {
  height: 200px;
  padding-top: 200px;
  background: url('./quad.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
#top-section h1 {
  color: white;
  background-color: #191919;
  padding: 5px;
  margin-top: 5px;
}
#top-section h2 {
  display: inline;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #206876;
}

h2 {
  border-bottom: 2px solid #666;
}

.signup {
  text-align: center;
}
